# Variant Animal Strains

In [48]:
import pandas as pd

# list of variant animal strains to analyze
STRAINS = ['A/Ohio/24/2017',
           'A/Ohio/09/2015',
           'A/Taiwan/1/2021',
           'A/Iowa/39/2015',
           'A/Parana/720/2015',
           'A/Alberta/01/2020_(H1N2)v',
           'A/Texas/14/2008',
           'A/Wisconsin/71/2016',
           'A/Ohio/02/2007',
           'A/Minnesota/19/2011',
           'A/New Jersey/8/1976',
           'A/Minnesota/45/2016']

results = pd.DataFrame({})
for STRAIN in STRAINS:
    NAME = STRAIN.replace('/', ':')
    df = pd.read_csv(OUT_DIR+NAME+'.csv', index_col=0)
    if len(results) == 0:
        results = df
    else:
        results = results.append(df)

results.to_csv('results/variant_strain_results.csv')
results[['name', 'irat_emergence', 'irat_impact']]

                        name  irat_emergence  irat_impact
0             A/Ohio/24/2017        5.077369     5.298214
0             A/Ohio/09/2015        6.654085     6.654220
0            A/Taiwan/1/2021        4.989915     5.225982
0             A/Iowa/39/2015        6.660403     6.659785
0          A/Parana/720/2015        5.692469     5.817514
0  A/Alberta/01/2020_(H1N2)v        5.136519     5.347342
0            A/Texas/14/2008        6.639157     6.641074
0        A/Wisconsin/71/2016        5.724307     5.844814
0             A/Ohio/02/2007        6.648516     6.649316
0        A/Minnesota/19/2011        5.708310     5.831093
0        A/New Jersey/8/1976        6.625954     6.629449
0        A/Minnesota/45/2016        5.114060     5.328664