# Variant Animal Strains

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# list of variant animal strains to analyze
STRAINS = ['A/Ohio/24/2017',
           'A/Ohio/09/2015',
           'A/Taiwan/1/2021',
           'A/Iowa/39/2015',
           'A/Parana/720/2015',
           'A/Alberta/01/2020_(H1N2)v',
           'A/Texas/14/2008',
           'A/Wisconsin/71/2016',
           'A/Ohio/02/2007',
           'A/Minnesota/19/2011',
           'A/New Jersey/8/1976',
           'A/Minnesota/45/2016']

results = pd.DataFrame({})
for STRAIN in STRAINS:
    NAME = STRAIN.replace('/', ':')
    df = pd.read_csv('results/'+NAME+'.csv', index_col=0)
    if len(results) == 0:
        results = df
    else:
        results = results.append(df)

results.to_csv('results/variant_strain_results.csv')
results[['name', 'irat_emergence', 'irat_impact']]

                        name  irat_emergence  irat_impact
0             A/Ohio/24/2017        5.077369     5.298214
0             A/Ohio/09/2015        6.654085     6.654220
0            A/Taiwan/1/2021        4.282494     4.669932
0             A/Iowa/39/2015        6.660403     6.659785
0          A/Parana/720/2015        5.692469     5.817514
0  A/Alberta/01/2020_(H1N2)v        5.136519     5.347342
0            A/Texas/14/2008        6.639157     6.641074
0        A/Wisconsin/71/2016        5.724307     5.844814
0             A/Ohio/02/2007        6.648516     6.649316
0        A/Minnesota/19/2011        5.708310     5.831093
0        A/New Jersey/8/1976        6.625954     6.629449
0        A/Minnesota/45/2016        5.114060     5.328664

In [2]:
pd.read_csv('results/A:Taiwan:1:2021.csv', index_col=0)

,name,ha_metadata,na_metadata,ha_seq,na_seq,risk_ha,var_ha,risk_na,var_na,geom_mean,irat_emergence,irat_impact
0,A/Taiwan/1/2021,A/Taiwan/1/2021|EPI_ISL_4847065|A_/_H1N2|C1||u...,A/Taiwan/1/2021|EPI_ISL_4847065|A_/_H1N2|C1||u...,MKATLLILLGTFTTANADTLCVGYHANNSTDTVDTVLEKNVTVTHS...,MNPIKKIITIGSVSLTITSICFLMQIVILLTTVKLHFKQHECNSPP...,0.37727,0.043282,0.073669,0.000522,0.166713,4.282494,4.669932

In [3]:
df = pd.read_csv('results/A:Taiwan:1:2021.csv', index_col=0)
df

,name,ha_metadata,na_metadata,ha_seq,na_seq,risk_ha,var_ha,risk_na,var_na,geom_mean,irat_emergence,irat_impact
0,A/Taiwan/1/2021,A/Taiwan/1/2021|EPI_ISL_4847065|A_/_H1N2|C1||u...,A/Taiwan/1/2021|EPI_ISL_4847065|A_/_H1N2|C1||u...,MKATLLILLGTFTTANADTLCVGYHANNSTDTVDTVLEKNVTVTHS...,MNPIKKIITIGSVSLTITSICFLMQIVILLTTVKLHFKQHECNSPP...,0.37727,0.043282,0.073669,0.000522,0.166713,4.282494,4.669932

In [4]:
from Levenshtein import distance
from Bio import SeqIO
import numpy as np

In [5]:
def parse_fasta(filepath):
    ids = []
    seqs = []
    for record in SeqIO.parse(filepath, 'fasta'):
        if len(record.seq) < 550:
            continue
        ids.append(str(record.id))
        seqs.append(''.join(record.seq[:550].upper()))
#         seqs.append(np.array(record.seq[:550].upper()))
    seq_df = pd.DataFrame({'id': ids, 'sequence': seqs})
    return seq_df

In [6]:
taiwan = df['ha_seq'].values[0]

In [7]:
len(taiwan)

566

In [29]:
h1n2_ha = parse_fasta('data/human/h1n2_ha.fasta')

In [38]:
seq

'MKAILVVLLYTFTTANADTLCIGYHANNSTDTVDTVLEKNVTVTHSVNLLEDKHNGKLCKLRGVAPLHLGKCNIAGWILGNPECESLSTARSWSYIVETSNSDNGTCYPGDFINYEELREQLSSVSSFERFEIFPKASSWPNHDSNKGVTAACPHAGAKSFYKNLIWLVKKGNSYPKLNQTYINDKGKEVLVLWGIHHPPTTADQQILYQNADAYVFVGTSRYSKKFKPEIATRPKVRDQEGRMNYYWTLVEPGDKITFEATGNLVVPRYAFTMERNAGSGIIISDTPVHDCNTTCQTPEGAINTSLPFQNVHPITIGKCPKYVKSTKLRLATGLRNVPSIQSRGLFGAIAGFIEGGWTGMVDGWYGYHHQNEQGSGYAADLKSTQNAIDKITNKVNSVIEKMNTQFTAVGKEFNHLEKRIENLNKKVDDGFLDIWTYNAELLVLLENERTLDYHDSNVKNLYEKVRNQLKNNAKEIGNGCFEFYHKCDNTCMESVKNGTYDYPKYSEEAKLNREKIDGVKLESTRIYQILAIYSTVASSLVLVVSLGAI'

In [8]:
t2 = 'MKAILLVLLHTFAAANADTICIGYHANNSTDTVDTVLEKNVTVTHSVNLLEDKHNGKLCKLGGKSPLYLGNCNIAGWLLGNPECESILTVNSWSYIVETSNSDNGTCYPGSFTNYEELREQLSSVSSFEKFEIFPTESSWPNHKTGETASCPYAGKGSFYRNLIWLVKKDDSYPRLNISYVNNKGKEVLVLWGIHHPPTGNDQQWLYKNANASVFVGTSTYSHKFKPEIAARPKVRGQAGRMNYYWTIVEPGDTITFEATGNLVVPRYAFAMNRGSGSGIIVSDAPIHDCNTTCQTPKGALNTSLPFQNVHPVTIGECPKYVKSRRLKMATGLRNIPSIQSRGLFGAIAGFIEGGWTGMIDGWYGYHHQNDQGSGYAADQKSTQKAIDGITNKVNSVIEKMNTQFAAVGKEFNNLERRIENLNRKVDDGFLDVWTYNAELLVLLENERTLDFHDSNVKNLYEKVRNQLRNNAKEIGNGCFEFYHKCDNTCMESVKNGTYNYLKYSEESKLNREKIDGVKLDSTRVYQILAIYSTVASSLVLLVSLGALSFWMCSNGSLQCRICI'

In [9]:
distance(taiwan, t2)

92

In [44]:
t3 = 'MKTKLFVLFCVFNTLKADTICIGYHANNSTDTVDTIMEKNVTVTHSVNLLETNHNGKLCSLNGKAPLQLGNCDVAGWILGNPECDLLVTANSWSYIIETSNSKNGTCYPGEFADYEELRELLSTVSSFERFEIFPKNSWPSHEAGTTVSCSKSGANSFYRNLLWITSKGKPYSKLSKSYKNNKGKEVLVIWGVHHPPTYSDQQTLYQNNHTYVSVVSSKYYQRFTPEIVPRPEIREQRGRMNYYWTLLDQEDTITFEATGNLIAPRYAFALEKGSNSGIMKSDAHVHNCTTKCQTPHGALKSDRPFQNVHPITIGECPKYVKSTQLRMATGLRNIPSIQSRGLFGAIAGFIEGGWTGMIDGWYGYHHQNEQGSGYAADQKSTQIAIDGVSNKVNTIIEKMNIQFASVGKEFNELEKRIGNLNKKVDDGFLDVWTYNAELLVLLENERTLDFHDFNVKNLYEKVKLQLRNNAKEIGNGCFEFYHKCDNECMESVKNGTYNYPKYSEESKLKREEIDGVKLESMGVQQILAIYSTVASSLVLLVSLGAISFWMCSNGSLQCRICI'

In [45]:
distance(taiwan, t3)

132

In [46]:
t4 = 'MEAKLFVLFSVFTALKADIICVGYHANNSTDTVDTILEKNVTVTHSVNLLETSHNGKLCSLNGKAPLQLGSCNVAGWILGNPECDLLLTANSWSYIIETPNSENGTCYPGEFADYEELREQLSAVSSFERFEIFPKATSWPGHETTKGTTTSCSHSGSKSFYRNLIWIVSKGNSYPKISKSYTNNKGKEVLIIWGVHHPPTYGDQQTLYQNNHTYVSVESSKYYRRFTPEIVTRPKIRDQAGRMNYYWTLLDQGDTITIEATGNLIAPWYAFALNKGINSGIVMSEAHVHNCTTKCQTPLGALKGNLPFQNVHPTTIGECPKYVKSTQLRMATGLRNIPSIQSRGLFGAIAGFIEGGWTGMIDGWYGYHHQNEQGSGYAADQKSTQIAIDGINNKVNSIIEKMNIQFTSVGKEFNNLEKRIENLNKKVDDGFLDVWTYNAELLILLENERTLDFHDFNVKNLYEKVKSQLRNNAKEIGNGCFEFYHKCDNECMESVKNGTYNYPKYSEESKLNREEIDGVKLESMGVHQILAIYSTVASSLVLLVSLGAISFWMCSNGSLQCRVCI'

In [47]:
distance(taiwan, t4)

119

In [37]:
for seq in h1n2_ha['sequence'].values:
    print(distance(seq, taiwan[:550]))

70
132
129
132
132
132
132
131
132
132
127
92
132
132
132
130
93
90
72
72
83
131
130
70
70

## Wisconsin

In [63]:
df = pd.read_csv('results/A:Wisconsin:71:2016.csv', index_col=0)
df

,name,ha_metadata,na_metadata,ha_seq,na_seq,risk_ha,var_ha,risk_na,var_na,geom_mean,irat_emergence,irat_impact
0,A/Wisconsin/71/2016,A/Wisconsin/71/2016|EPI_ISL_230639|A_/_H1N2|C1...,A/Wisconsin/71/2016|EPI_ISL_230639|A_/_H1N2|C1...,MKVKLLILLCTFTAAYADTICIGYHANNSTDTVDTVLEKNVTVTHS...,MNPNQKIITIGSVSLIIATICFLMQIAILVTTVTLHFKQHNCDSSP...,0.121691,0.025035,0.026707,0.005998,0.057009,5.724307,5.844814

In [71]:
df = pd.read_csv('results/A:Wisconsin:71:20161.csv', index_col=0)
df

,name,ha_metadata,ha_seq,risk_ha,var_ha,min_score,min_seq
0,A/Wisconsin/71/2016,A/Wisconsin/71/2016|EPI_ISL_230639|A_/_H1N2|C1...,MKVKLLILLCTFTAAYADTICIGYHANNSTDTVDTVLEKNVTVTHS...,0.061984,0.016892,0.0,['M' 'K' 'V' 'K' 'L' 'L' 'I' 'L' 'L' 'C' 'T' '...