# Qnet Improvement
- Shows percent improvement of Qnet predictions over WHO predictions
- Table 1 in the paper

In [31]:
import pandas as pd
import numpy as np

FILES = ['north_h1n1_ha', 'south_h1n1_ha', 'north_h3n2_ha', 'south_h3n2_ha', 
         'north_h1n1_na', 'south_h1n1_na', 'north_h3n2_na', 'south_h3n2_na']

## North-South
- One decade and two decade qnet improvements

In [32]:
one_decade_error = []
two_decade_error = []

for FILE in FILES:
    # directories
    CSV_DIR = 'tables/' + FILE + '.csv'
    df = pd.read_csv(CSV_DIR)
    # total error, 2 decade
    who_2 = df['ldistance_WHO'][-20:].sum()
    qnet_2 = df['ldistance_Qnet_recommendation'][-20:].sum()
    two_decade_error.append(round((who_2 - qnet_2)*100/who_2, 2))
    # total error, 1 decade
    who_1 = df['ldistance_WHO'][-10:].sum()
    qnet_1 = df['ldistance_Qnet_recommendation'][-10:].sum()
    one_decade_error.append(round((who_1 - qnet_1)*100/who_1, 2))

In [33]:
qnet_improvement_df = pd.DataFrame({'Name':FILES,
                                    'Two decades (%improvement)':two_decade_error,
                                    'One decade (%improvement)':one_decade_error})
qnet_improvement_df

            Name  Two decades (%improvement)  One decade (%improvement)
0  north_h1n1_ha                       31.78                      75.00
1  south_h1n1_ha                       35.02                      67.44
2  north_h3n2_ha                       38.76                      42.50
3  south_h3n2_ha                       36.72                      38.67
4  north_h1n1_na                       19.64                      56.00
5  south_h1n1_na                       11.29                      48.28
6  north_h3n2_na                       13.92                       8.57
7  south_h3n2_na                       14.77                      22.73

# Averages

In [38]:
one_decade_average = []
two_decade_average = []
for i in [0, 2, 4, 6]:
    one_decade_average.append(round((one_decade_error[i] + one_decade_error[i+1])/2, 2))
    two_decade_average.append(round((two_decade_error[i] + two_decade_error[i+1])/2, 2))

In [39]:
average_improvement_df = pd.DataFrame({'Name':['h1n1_ha','h3n2_ha', 'h1n1_na', 'h3n2_na'],
                                       'Two decades (%improvement)':two_decade_average,
                                       'One decade (%improvement)':one_decade_average})
average_improvement_df

      Name  Two decades (%improvement)  One decade (%improvement)
0  h1n1_ha                       33.40                      71.22
1  h3n2_ha                       37.74                      40.58
2  h1n1_na                       15.46                      52.14
3  h3n2_na                       14.34                      15.65