# Data Preprocessing

In [1]:
import os 
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from domseq import DomSeq, save_model, load_model

## Downloading Data
**Sources: [GISAID](https://platform.epicov.org/epi3/cfrontend#586f5f) and [NCBI](https://www.ncbi.nlm.nih.gov/labs/virus/vssi/#/virus?SeqType_s=Protein&HostLineage_ss=Homo%20sapiens%20(human),%20taxid:9606&LabHost_s=include&ProtNames_ss=hemagglutinin&CollectionDate_dr=2003-11-01T00:00:00.00Z%20TO%202004-05-01T23:59:59.00Z&SLen_i=550%20TO%20566&VirusLineage_ss=H1N1%20subtype,%20taxid:114727)**
- Host: Human
- Subtype: H1N1 or H3N2
- Segment: HA (4) and NA (6)
- Download all data from 09/25/2001 - 02/15/2023 (collection date) from both NCBI and GISAID
- For NCBI, filter by the following sequence length
    - HA: min = 550, max = 570
    - NA: min = 450, max = 470

## Cleaning and Merging Data
- Make `h1n1.csv` and `h3n2.csv`
- Merge HA, and NA data
    - Put HA strain in 'sequence' column, NA strain in 'na_sequence' column
    - Keep only strains with both HA and NA available
    - Truncate to 468 for NA (2 less than official length of 470)
    - Truncate to 565 for HA (2 less than official length of 567)
- Merge GISAID and NCBI data
- Save to `raw_data/merged/`

In [3]:
NCBI_DIR = 'raw_data/ncbi/'
GISAID_DIR = 'raw_data/gisaid/'
DATA_DIR = 'raw_data/merged/'

NA_TRUNC = 468 # 2 less than official length of 470
HA_TRUNC = 565 # 2 less than official length of 567

In [4]:
# returns merged sequence dataframe
def load_ncbi_gisaid(domseq, NCBI_FILE, GISAID_FILE):
    seq_df = pd.DataFrame({'acc':[],'name':[],'date':[],'sequence':[]})
    if os.path.isfile(NCBI_FILE):
        seq_df_ncbi = domseq.load_data(NCBI_FILE)
        seq_df = seq_df.append(seq_df_ncbi)
    if os.path.isfile(GISAID_FILE):
        seq_df_gisaid = domseq.load_data(GISAID_FILE)
        seq_df = seq_df.append(seq_df_gisaid)
    return seq_df

In [4]:
# combine GISAID and NCBI, merge on HA and NA, remove duplicates by name
for SUBTYPE in ['h1n1', 'h3n2']:
    # initialize the DomSeq
    domseq_ha = DomSeq(seq_trunc_length=HA_TRUNC)
    domseq_na = DomSeq(seq_trunc_length=NA_TRUNC)
    
    # file name
    GISAID_FILE_HA = GISAID_DIR+SUBTYPE+'_ha.fasta'
    GISAID_FILE_NA = GISAID_DIR+SUBTYPE+'_na.fasta'
    NCBI_FILE_HA = NCBI_DIR+SUBTYPE+'_ha.fasta'
    NCBI_FILE_NA = NCBI_DIR+SUBTYPE+'_na.fasta'
    
    # load data
    seq_df_ha = load_ncbi_gisaid(domseq_ha, NCBI_FILE_HA, GISAID_FILE_HA)
    seq_df_na = load_ncbi_gisaid(domseq_na, NCBI_FILE_NA, GISAID_FILE_NA)
    
    # drop duplicates by name
    seq_df_ha.drop_duplicates(subset=['name'], inplace=True)
    seq_df_na.drop_duplicates(subset=['name'], inplace=True)
    seq_df_na.rename(columns={'acc':'acc_na', 'sequence':'sequence_na'}, inplace=True)
    
    # merge HA and NA on name and date
    seq_df = seq_df_ha.merge(seq_df_na, how='inner', on=['name', 'date'])
    seq_df['date'] = pd.to_datetime(seq_df['date'])
    seq_df.sort_values(by='date', inplace=True)
    
    # save to csv
    os.makedirs(DATA_DIR, exist_ok=True)  
    seq_df.to_csv(DATA_DIR+SUBTYPE+'.csv', index=False)

## Seasonal Files
- Make seperate files for North H1N1, North H3N2, South H1N1, South H3N2
    - Make seperate file for each season (21 seasons total for each category)
- Flu Season example: 
    - Northern strains from 02/15/2002 - 02/14/2003: predict for 2003-04 season
    - Southern strains from 09/25/2001 - 09/24/2002: predict for 2003 season
    - Flu season dates from [CDC](https://www.cdc.gov/flu/school-business/travelersfacts.htm) and [WHO](https://www.who.int/teams/global-influenza-programme/vaccines/who-recommendations/recommendations-for-influenza-vaccine-composition-archive)
- File names for raw data: HEMISPHERE_SEQUENCE_SEASON (+ '_pred' if prediction data)
    - HEMISPHERE: "north" or "south"
    - SEQUENCE: "h1n1" or "h3n2"
    - SEASON: (ex. 02_03 for north 02/15/2002 - 02/14/2003, 02 for south 09/25/2001 - 09/24/2002)
    - **'pred': all sequence data up to that point, used for prediction**
        - Season specific data is for training models, but we will predict on all data up to that point
- Save to `raw_data/merged/`
    - Some seasons will have no strains from a particular database
    - In each year record how many strains come from NCBI and GISAID

In [5]:
NORTH_YEARS = []
for i in np.arange(2, 23):
    YEAR = ''
    if i < 10:
        YEAR += '0' + str(i)
    else:
        YEAR += (str(i))
    if i + 1 < 10:
        YEAR += '_0' + str(i + 1)
    else:
        YEAR += '_' + str(i + 1)
    NORTH_YEARS.append(YEAR)
        
SOUTH_YEARS = []
for i in np.arange(2, 23):
    if i < 10:
        SOUTH_YEARS.append('0' + str(i))
    else:
        SOUTH_YEARS.append(str(i))

In [6]:
for SUBTYPE in ['h1n1', 'h3n2']:
    df = pd.read_csv(DATA_DIR+SUBTYPE+'.csv')
    df['date'] = pd.to_datetime(df['date'])
    
    for i in range(21):
        NORTH_START = str(2002 + i) + '-02-15'
        NORTH_END = str(2003 + i) + '-02-14'
        NORTH_DIR = DATA_DIR + 'north_' + SUBTYPE + '/'
        os.makedirs(NORTH_DIR, exist_ok=True) 
        os.makedirs(NORTH_DIR+'pred', exist_ok=True) 
        # north
        north_df = df.loc[(df['date'] >= NORTH_START) & (df['date'] <= NORTH_END)]
        north_df.to_csv(NORTH_DIR+'north_'+SUBTYPE+'_'+NORTH_YEARS[i]+'.csv', index=False)
        # north prediction
        north_pred_df = df.loc[df['date'] <= NORTH_END].drop_duplicates(subset=['sequence'])
        north_pred_df.to_csv(NORTH_DIR+'pred/north_'+SUBTYPE+'_'+NORTH_YEARS[i]+'.csv', index=False)
        
        SOUTH_START = str(2001 + i) + '-09-25'
        SOUTH_END = str(2002 + i) + '-09-24'
        SOUTH_DIR = DATA_DIR + 'south_' + SUBTYPE + '/'
        os.makedirs(SOUTH_DIR, exist_ok=True) 
        os.makedirs(SOUTH_DIR+'pred', exist_ok=True)
        # south
        south_df = df.loc[(df['date'] >= SOUTH_START) & (df['date'] <= SOUTH_END)]
        south_df.to_csv(SOUTH_DIR+'south_'+SUBTYPE+'_'+SOUTH_YEARS[i]+'.csv', index=False)
        # south prediction
        south_pred_df = df.loc[df['date'] <= SOUTH_END].drop_duplicates(subset=['sequence'])
        south_pred_df.to_csv(SOUTH_DIR+'pred/south_'+SUBTYPE+'_'+SOUTH_YEARS[i]+'.csv', index=False)

In [15]:
num_seqs = pd.DataFrame({})
for SEASON in ['north', 'south']:
    YEARS = NORTH_YEARS
    if SEASON == 'south':
        YEARS = SOUTH_YEARS
    num_seqs[SEASON + '_season'] = YEARS
    
    for SUBTYPE in ['h1n1', 'h3n2']:
        seq_cnt = []
        NAME = SEASON + '_' + SUBTYPE
        DIR = DATA_DIR + NAME + '/'
        for i in range(21):
            seq_df = pd.read_csv(DIR+NAME+'_'+YEARS[i]+'.csv')
            seq_cnt.append(len(seq_df))
        num_seqs[NAME] = seq_cnt
num_seqs.to_csv(DATA_DIR+'num_seqs.csv', index=False)
num_seqs

   north_season  north_h1n1  north_h3n2 south_season  south_h1n1  south_h3n2
0         02_03          34         233           02          16         346
1         03_04          38         542           03          51         253
2         04_05           8         463           04          23         564
3         05_06          62         382           05          26         525
4         06_07         338         235           06          79         197
5         07_08         563         588           07         527         465
6         08_09         664         512           08         580         528
7         09_10        7689         920           09        4862        1046
8         10_11        2096        1398           10        4089         613
9         11_12         973        1771           11        1932        1578
10        12_13        1220        3223           12         768        2346
11        13_14        2157        1643           13        1598        2740
12        14_15        1341        4267           14        2147        1981
13        15_16        4430        3689           15        1494        5307
14        16_17        3756        7986           16        6395        3437
15        17_18        3893        9815           17        2018       11116
16        18_19        9167        7015           18        5786        7401
17        19_20        9508       10099           19       10038       10540
18        20_21        1728         844           20        7143        4608
19        21_22         735        6843           21         375         737
20        22_23        8422       24342           22        2250       18703

In [11]:
num_seqs_pred = pd.DataFrame({})
for SEASON in ['north', 'south']:
    YEARS = NORTH_YEARS
    if SEASON == 'south':
        YEARS = SOUTH_YEARS
    num_seqs_pred[SEASON + '_season'] = YEARS
    
    for SUBTYPE in ['h1n1', 'h3n2']:
        seq_cnt = []
        NAME = SEASON + '_' + SUBTYPE
        DIR = DATA_DIR + NAME + '/pred/'
        for i in range(21):
            seq_df = pd.read_csv(DIR+NAME+'_'+YEARS[i]+'.csv')
            seq_cnt.append(len(seq_df))
        num_seqs_pred[NAME] = seq_cnt
num_seqs_pred.to_csv(DATA_DIR+'num_seqs_pred.csv', index=False)
num_seqs_pred

   north_season  north_h1n1  north_h3n2 south_season  south_h1n1  south_h3n2
0         02_03          31         141           02          15         123
1         03_04          37         305           03          35         208
2         04_05          44         444           04          39         381
3         05_06          84         567           05          53         520
4         06_07         229         689           06         109         602
5         07_08         563         995           07         340         862
6         08_09        1000        1248           08         723        1112
7         09_10        3336        1623           09        2140        1553
8         10_11        4352        2175           10        3736        1840
9         11_12        4862        2890           11        4691        2450
10        12_13        5562        3893           12        5156        3357
11        13_14        6542        4490           13        6061        4167
12        14_15        7101        5810           14        6912        4877
13        15_16        8549        7046           15        7552        6508
14        16_17        9592        9458           16        9302        7692
15        17_18       11002       12105           17       10105       10901
16        18_19       14210       14332           18       12250       12977
17        19_20       17219       17363           19       15474       16191
18        20_21       17742       17695           20       17703       17613
19        21_22       18057       19054           21       17868       17904
20        22_23       20063       24297           22       18574       21509